/* CSS Document */

/* Logo */
.noctilogo
{
	background-color:#dbc8b5;
	align-content:center;
	width:35%;
	max-width:330px;
	height:auto;
	min-width:140px;
	padding-bottom:2%;
}

.logobar
{
	background-color:#dbc8b5;
}


/* Navigation */
.navigation
{
	background-color:#dbc8b5;
	font-size:1.9vw;
	text-align:center;
	display:block;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
}


ul 
{
	list-style-type:none;

}

.navlist 
{
	display:inline;
	padding:5%;
}


li a
{
	color:black;
	text-decoration:none;
}


li a:hover
{
	color:black;
	text-decortaion:none;
}



/* indhold til siderne */

.contentainer
{
	width:90%;
}


#wineimage
{
	padding-top:2%;
	padding-bottom:2%;
}

h1
{
	color:white;
	font-style:italic;
	font-weight:bold;
	font-family:italiano;
	font-size:38px;
}

p
{
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}

.contentimages
{
	width:100%;
	padding-top:1%;
	padding-bottom:1%;
}

/* indhold til menu */

.menutitle
{
	font-size:60px;
}


/* Billede Karrusel */
#myCarousel
{
	float:none;
	display:table-cell;
}


/* Footer */
h3
{
	font-style:italic;
	font-weight:bold;
	font-family:italiano;
}

.foottext
{
	color:black;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:bold;
}

.socialmedia
{
	width:8%;
	height:auto;
}

.footainer
{
	background-color:#dbc8b5;
	width:100%;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	margin-top:2%;
}

body
{
	background-color:#323232;
}