/* CSS Document */

/* Logo */
.noctilogo
{
	background-color:#dbc8b5;
	width:20%;
	max-width:200px;
	height:auto;
	min-width:140px;
	padding-bottom:2%;
	padding-top:1%;
}


.logobar
{
	background-color:#dbc8b5;
}


/* Navigation */
.navigation
{
	background-color:#dbc8b5;
	text-align:center;
	display:block;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
}

/* Screens smaller than 767px */
@media all and (max-width:767px)
{
	.navigation
	{
		font-size:4vw;
	}
}

/* Screens smaller than 1199px */
@media all and (max-width:1199px)
{
	.navigation
	{
		font-size:2.75vw;
	}
}

/* Screens bigger than 1200px */
@media all and (min-width:1200px)
{
	.navigation
	{
		font-size:1.5vw;
	}
}

ul 
{
	list-style-type:none;

}

.navlist 
{
	display:inline;
	padding:5%;
}


li a
{
	color:black;
	text-decoration:none;
}


li a:hover
{
	color:black;
	text-decortaion:none;
}



/* Content of the sites */

.contentainer
{
	width:90%;
}


#wineimage
{
	padding-top:2%;
	padding-bottom:2%;
}

h1
{
	color:white;
	font-style:italic;
	font-weight:bold;
	font-family:italiano;
	font-size:38px;
}

p
{
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}

.contentimages
{
	width:100%;
	padding-top:1%;
	padding-bottom:1%;
}

/* screens smaller than 767px */
@media all and (max-width: 767px)
{
	.sitetitle
	{
		font-size:6vw;
		text-align:center;
	}
	
	.h2content
	{
		font-size:5vw;
	}
	
}

/* Screens bigger than 768 px */
@media all and (min-width:768px)
{
	.sitetitle
	{
		font-size:60px;
		font-size:5vw;
		text-align:center;
	}
	
	.menuimages
	{
		margin-top:1.5%;
	}
	
	.h2content
	{
		font-size:4vw;
	}
	
}



.h3content
{
	font-style:italic;
	font-family:italiano;
	font-weight:bold;
	color:white;
}


.h2content
{
	font-style:italic;
	font-weight:bold;
	font-family:italiano;
	color:white;
}



h4
{
	font-weight:bold;
	font-size:102%;
}

/* Text for the menu */
.menuitems
{
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}


/* For screens smaller than 1199 px  */
@media all and (max-width:1199px)
{
	.pris
	{
		width:25%;
		hight:auto;
		margin-left:35%;
		padding-bottom:2%;
	}
	
	/* image only shown on bigger devices */
	.aboutimage
	{
		display:none;
	}
}


/* For screens bigger than 1200 px  */
@media all and (min-width:1200px)
{
	.pris
	{
		width:15%;
		hight:auto;
		margin-left:35%;
	}
	
	
	/* image only shown on smaller devices */
	#aboutphoneimage
	{
		display:none;
	}

}

/* About us opdelt del */


.aboutbrowntext
{
	background-color:#dbc8b5;
	padding-bottom:5%;
}

.aboutsubtitle
{
	text-align:center;
	font-family:italiano;
	font-style:italic;
}

.abouttext
{

	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	text-align:center;
}


#aboutphoneimage
{
	padding-top:1%;
	padding-bottom:1%;
}

/* Booking Form*/
.control-label
{
	color:white;
}

.form-group
{
	width:80%;
	align-content:center;
}

/* Billede Karrusel */
#myCarousel
{
	float:none;
	display:table-cell;
}



/* Footer */
.hfooter
{
	font-style:italic;
	font-weight:bold;
	font-family:italiano;
}


/* footer text */
.foottext
{
	color:black;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:bold;
}


/* Social media logos */
.socialmedia
{
	width:8%;
	height:auto;
}

.footainer
{
	background-color:#dbc8b5;
	width:100%;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	margin-top:2%;
}


/* Body tag used for background color */
body
{
	background-color:#323232;
}